* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height 2;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #333
}

body.ucf-bg {
    background-image: url("../Images/UCF-Background.jpg");
}

body.space1-bg {
    background-image: url("../Images/space-background2.jpg");
}

body.space2-bg {
    background-image: url("../Images/space-background3.jpg");
}

header {
    background: rgba(0, 0, 0, 0.7);
    color: #ffffff;
    text-align: center;
    padding: 1rem;
}

h1 {
    font-size: 2rem;
}

.subtitle {
    font-size: 1rem;
}

nav ul{
 list-style: none;
 display: flex;
 justify-content: center;
 gap: 2rem;
 margin-top: 0.5rem;
}

nav a {
 color: #fff;
 text-decoration: none;
 font-weight: bold;
}

nav a:hover {
 text-decoration: underline;
}

main{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 min-height: 90vh;
 padding: 1rem;
 margin: 0 auto;
}

main.vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

main.horizontal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

article {
    color: #ffffff;
    max-width: 700px;
    margin: 0 auto 1rem auto;
}

aside {
    background: rgba(0, 0, 0, 0.7);
    color: #ffffff;
    padding: 1.5rem;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 1rem;
    text-align: left;
}

aside ul{
    list-style-position: inside;
    padding-left: 0;
    margin: 0.5rem 0;
}

footer {
    background: rgba(0, 0, 0, 0.7);
    color: #ffffff;
    text-align: center;
    padding: .5rem;
    margin-top: .5rem;
}

img {
 max-width: 100%;
 height: auto;
 border-radius: 10px;
}

.content-box {
 background-color: rgba(0, 0, 0, 0.7);
 padding: 1rem;
 border-radius: 10px;
 max-width: 600px;
 margin: 0rem auto;
 text-align: center;
}

.align {
    text-align: center;
    align-content: center;
}

.image-box {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 1rem;
    border-radius: 10px;
    margin: 0rem auto;
}

.linkedin-logo {
    width: 40px;
    height: auto;

}


